.jumbotron{
	/*padding: 70px 30px 70px 30px;*/
	height: 400px;
	margin: 0px auto;
	background-image:url("/home/bhavuk/git_workspace/Bpahuja298.github.io/img/eliudkipchoge.jpg");
	background-size: cover;
	color: black;  	
}
.lead{
	font-family: sans-serif;
}